<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})" >
<head>
    <meta charset="UTF-8">
    <title>New About</title>
</head>
<body>
<section>
    <h1>this is new  section</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ad aspernatur blanditiis cum cumque distinctio doloremque doloribus dolorum ea enim
        exercitationem hic id impedit ipsum itaque iusto laborum libero maxime modi necessitatibus nihil
        non nostrum obcaecati pariatur perferendis praesentium quae quas saepe similique ullam unde ut vel,
        veniam veritatis vitae voluptatibus.</p>

</section>
</body>
</html>